// fonts
@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

// variable
$primary-font: "Roboto", sans-serif;
// $primary-font: "Montserrat", sans-serif;
$secondary-font: "Amatic SC", cursive;
$main-background: #ebf5ee;
$main-black: #1c1c1c;
$main-red: #cd0a0a;
$primary-color: #283044;
$secondary-color: #726a95;
$third-color: #fafad2;
$main-transition: all 0.3s linear;
$main-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

// breakpoints

@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

// global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background: $main-background;
  color: $main-black;
}

// loading
.loading {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20rem;
    height: 13rem;
  }
}

// alert
.alert-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
  background: green;
  width: 24rem;
  padding: 2.5rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.alert-show {
  display: block;
}

.alert p {
  margin-bottom: 0;
  line-height: 2;
}

.alert-danger {
  background: red;
}

.alert-close {
  color: white;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
  line-height: 0;
}

// burger menu

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;

  @include tablet {
    display: none;
  }
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-overlay {
  background: none;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  // position: fixed;
  height: 100%;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.burger-menu-links {
  a {
    margin: 25px 18px;
    display: flex;
    flex-direction: column;
    color: #bdc3c7;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

.footer-burger {
  display: flex;
  margin: 0px;
}

// navbar
header,
ul,
nav {
  display: flex;
  // flex-wrap: wrap;

  @include phone {
    position: relative;
    flex-direction: column;
    // flex-wrap: wrap;
  }
}

header {
  justify-content: center;
  align-items: center;
  height: 120px;
  letter-spacing: 2px;

  .logo {
    position: relative;
    width: 250px;
    bottom: 15px;

    @include phone {
      position: absolute;
      height: 100px;
      width: 100px;
      bottom: 0px;
    }
  }

  nav {
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 80%;

    @include phone {
      // width: 0px;
      height: 28px;
      font-size: 12px;
      padding: 20px 0px;
    }

    div {
      display: flex;
    }
  }

  .checkout {
    @include phone {
      position: absolute;
      top: 40px;
      right: 30%;
    }
  }

  a {
    text-decoration: none;
    margin: 0px 12px;
    color: $main-black;
    transition: $main-transition;

    @include phone {
      margin: 0px;
    }
  }

  a:hover {
    color: $secondary-color;
  }

  ul {
    list-style: none;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    li {
      display: flex;

      @include phone {
        margin: 4px 12px;
      }
    }

    .login-cart-box {
      width: 39%;
      justify-content: space-evenly;

      .cart-link-section {
        position: relative;

        .cart-linktotal {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 25px;
          left: -15px;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background: $secondary-color;
          color: white;
          font-size: 12px;

          @include phone {
            left: 55px;
            bottom: -3px;
          }
        }
      }
    }
  }
}

.products-link {
  display: flex;
  transition: $main-transition;
}

.products-link:hover {
  cursor: pointer;
  color: $secondary-color;
}

.home-about-products,
.products-link {
  @include phone {
    display: none;
  }
}

.arrow-down {
  margin-left: 7px;
}

.product-link-box {
  position: relative;
  display: inline-block;
}

// dropdown

.dropdown {
  display: none;
  justify-content: center;
  width: 280px;
  height: 250px;
  background: white;
  position: absolute;
  z-index: 1;
  top: 19px;
  box-shadow: $main-box-shadow;

  a {
    margin: 6px 0px;
    text-transform: capitalize;
    font-size: 16px;
    width: 100%;
    padding: 12px 12px;
    transition: $main-transition;
  }

  a:hover {
    color: $main-black;
    background: #dcdcdc;
  }
}

.product-link-box:hover .dropdown {
  display: flex;
  flex-direction: column;
}

// hero
.hero {
  height: 65vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(255, 255, 255, 0.2)
    ),
    url("./assets/hero.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $third-color;
  text-transform: uppercase;
  font-family: $secondary-font;
  letter-spacing: 2px;

  .banner {
    font-size: 24px;
    width: 80vw;
  }
}

// buttons
.btn {
  text-decoration: none;
  border: 2px solid $secondary-color;
  padding: 8px 20px;
  background: $secondary-color;
  transition: $main-transition;
}

.btn:hover {
  background: transparent;
}

.btn-hero {
  margin-left: 0px;
  color: $third-color;
  font-family: $secondary-font;
  letter-spacing: 5px;
  font-size: 20px;
}

.btn-hero:hover {
  cursor: pointer;
}

.btn-product,
.btn-single-product {
  color: white;
  font-family: $secondary-font;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
}

.btn-product:hover,
.btn-single-product:hover {
  color: $main-black;
  cursor: pointer;
}

.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  // box-shadow: var(--lightShadow);
  text-align: center;
}

.login-btn {
  text-transform: uppercase;
  background: transparent;
  display: inline-block;
  border: none;
  cursor: pointer;
  // margin: 0 0.25rem;
  // font-size: 0.85rem;
  letter-spacing: 2px;
  transition: $main-transition;
  // font-weight: 300;
  font-family: $primary-font;
}

.cart-btn {
  margin-bottom: 120px;
}

// product section links
.product-links {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ebf5ee;
  font-size: 28px;
  div {
    margin: 8px;
  }

  @include phone {
    font-size: 15px;
  }

  .middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .middle-box {
    margin: 3px 0px;
    height: 50%;
  }

  .vertical-box {
    height: 90%;
    width: 30%;
  }

  .bass {
    background: url("./assets/bass-link.jpg") center/cover no-repeat;
  }

  .drums {
    background: url("./assets/drums.jpg") center/cover no-repeat;
  }

  .amps {
    background: url("./assets/amps.jpg") center/cover no-repeat;
  }

  .guitars {
    background: url("./assets/guitars.jpg") center/cover no-repeat;
  }

  .product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

.content {
  border: 1px solid black;
  padding: 12px 25px;
  background: white;
  color: black;
  opacity: 0.7;
  transition: $main-transition;
}

.content-hover {
  opacity: 1;
}

// FEATURED
.featured-title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: $main-black;
  font-family: $secondary-font;
  letter-spacing: 2px;
  font-size: 80px;
  margin: auto;
  padding-bottom: 25px;

  @include phone {
    font-size: 40px;
  }
}

// about

.about-section {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: $secondary-font;
  font-size: 30px;
  letter-spacing: 2px;

  .section-title {
    text-transform: uppercase;
    margin: 20px;
  }

  @include phone {
    height: 400px;
    font-size: 15px;
  }
}

// product hero component
.product-hero {
  height: 45vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 12, 1) 50%,
    rgba(255, 255, 255, 0.3)
  );
  background-color: $main-black;
  display: flex;

  .section-title {
    text-transform: uppercase;
    color: $main-background;
    font-family: $secondary-font;
    font-size: 120px;
    margin: auto;

    @include phone {
      font-size: 3rem;
    }
  }
}

// product page section

.btn-product {
  position: absolute;
  top: 40%;
  right: 35%;
  // transform: translate(-50%, -50%);
  opacity: 0;

  @include phone {
    right: 30%;
  }
}

.products-list-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include phone {
    flex-wrap: wrap;
  }
}

.product {
  border: 1px solid silver;
  margin: 12px;
  transition: $main-transition;
  background: white;
  position: relative;
  box-shadow: $main-box-shadow;

  .image-container {
    .product-img {
      padding: 12px;
      width: 25rem;
      height: 12rem;
      max-height: 12rem;
      transition: $main-transition;
      margin: auto 0;
      align-self: center;
      object-fit: contain;

      @include phone {
        width: 19rem;
      }
    }

    .product-img-hover {
      opacity: 0.3;
    }
  }

  .product-footer {
    padding: 12px 20px;

    .product-title {
      max-width: 100%;
      margin: 8px 0px;
      font-size: 12px;
    }
    .product-price {
      font-size: 30px;
    }
  }
}

.product:hover {
  box-shadow: $main-box-shadow;
  cursor: pointer;
}

.product-hover {
  opacity: 1;
}

// product details

.single-product {
  display: flex;
  margin: 6rem 8rem;

  @include phone {
    margin: 2rem;
    flex-direction: column;
  }

  .single-product-img-box {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
  }

  @include phone {
    height: 450px;
    align-items: center;
  }

  .single-product-image {
    width: 45rem;

    @include phone {
      width: 15rem;
    }
  }
  .single-product-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;

    p {
      line-height: 30px;
    }
  }
  h1 {
    font-size: 30px;
    letter-spacing: 2px;
    @include phone {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 2px;
    }
  }

  h2 {
    @include phone {
      margin: 12px 0px;
      font-size: 18px;
    }
  }
  p {
    line-height: 25px;

    @include phone {
      font-size: 13px;
      margin: 12px 0px;
    }
  }
}

// cart section
.cart-items {
  width: 50vw;
  margin: auto;

  @include phone {
    width: 80vw;
  }
}

// empty cart
.empty-cart {
  width: 50vw;
  margin: auto;
}

.empty-cart,
.cart-section,
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;

  .empty-cart-title {
    letter-spacing: 6px;
    margin-bottom: 30px;
  }
}

// cart item
.cart-item {
  display: flex;
  align-items: center;
  height: 130px;
  line-height: 24px;

  @include phone {
    height: 250px;
    flex-direction: column;
    position: relative;
  }

  .cart-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 500%;
    margin: 0px 24px;
    letter-spacing: 3px;

    @include phone {
      font-size: 12px;
      height: 100%;
      width: 100%;
      // margin: 0px 24px;
      letter-spacing: 3px;
    }

    .cart-text-title {
      @include phone {
        width: 80%;
      }
    }
  }
}

.cart-img {
  width: 60px;
}

.cart-section-title,
.login-section-title {
  text-transform: uppercase;
  color: $main-black;
  font-family: $secondary-font;
  letter-spacing: 2px;
  font-size: 80px;
  margin: auto;
  padding-bottom: 25px;

  @include phone {
    font-size: 30px;
  }
}

.total {
  font-size: 50px;

  @include phone {
    font-size: 30px;
  }
}

.cart-amount-section {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include phone {
    position: absolute;
    bottom: 80px;
    left: 10px;
    height: 10px;
  }
}

.cart-amount-box {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.amount-btn {
  color: $secondary-color;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.amount-btn:focus {
  outline: none;
}

.remove-btn {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 3px;
  color: grey;
  letter-spacing: 2px;
}

// login

.form-section {
  align-items: center;

  .form {
    width: 35vw;
    background: white;
    padding: 20px;
    box-shadow: $main-box-shadow;

    @include phone {
      width: 80vw;
    }
  }

  .form-control label {
    display: block;
    text-transform: capitalize;
    margin-bottom: 12px;
  }

  .form-control input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $primary-color;
    margin-bottom: 1.25rem;
    padding: 0.5rem 0px;
    font-size: 1rem;
    background: white;
    transition: $main-transition;
  }

  .form-control input:focus,
  .register-toggle:focus {
    outline: none;
  }

  .footer-text {
    text-transform: capitalize;
    margin: 20px 0px 8px 0px;
    display: flex;
    justify-content: center;

    .register-toggle {
      text-transform: capitalize;
      border: none;
      background: white;
      cursor: pointer;
      margin: 0 8px;
    }

    .register-toggle:hover {
      color: $secondary-color;
    }
  }

  .form-error {
    text-transform: capitalize;
    color: red;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
}

// checkout

.checkout-form {
  margin-bottom: 6rem;
}

.checkout-form h3 span {
  color: $secondary-color;
}

.checkout-form h3 {
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.stripe-info {
  font-size: 80%;
  margin-top: 0.5rem;
  color: silver;
  line-height: 1.2rem;
}
.stripe-info span {
  color: $secondary-color;
}

.checkout-form .form-empty {
  margin-top: 1rem;
  margin-bottom: 0;
  text-transform: capitalize;
  color: $main-red;
  display: flex;
  justify-content: center;
}
.checkout-form button {
  margin-top: 1rem;
}

.card-element {
  border: 2px solid grey;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 4rem;
  border-radius: 5px;
}

// FOOTER

.footer {
  color: $main-black;
  background: silver;

  margin-top: 9rem;
  text-transform: capitalize;
  letter-spacing: 0.7px;

  .footer-content {
    display: flex;
    margin: auto;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    width: 60%;
    border-bottom: 2px solid grey;

    @include phone {
      display: flex;
      justify-content: center;
      width: 85%;
    }

    .footer-title {
      margin-bottom: 3rem;
      font-size: 1rem;

      @include phone {
        margin: 0px;
        height: 30px;
        font-size: 10px;
      }
    }

    .footer-links {
      margin: 1.4rem 0;
      font-size: 0.7rem;
      transition: $main-transition;

      @include phone {
        font-size: 9px;
      }
    }

    .footer-links:hover {
      cursor: pointer;
      color: $main-background;
    }
  }

  .copyright {
    width: 60%;
    height: 80px;
    margin: auto;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    font-size: 0.7rem;

    @include phone {
      font-size: 9px;
      width: 85%;
    }
  }
}
